#main {
    padding: 20px;
}

text.label {
    text-anchor: middle;
    font-size: 11px;
    fill: #555;
    font-family: sans-serif;
}

.bar2 {
      fill: red;
    }

.axis text {
    fill: #555;
}

.axis line,
.axis path {
    stroke: #555;
}

text.title {
    text-anchor: middle;
    font-size: 14px;
    fill: #333;
}
circle {
  opacity: .6;
  fill: lightblue;
  stroke: blue;
}

div.tooltip {
  color: black;
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 5px;
  font-family: Futura;
  font: 12px sans-serif ;
  background: rgb(233, 151, 164);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
/* center the svg in the middle */
.chart0G{
  display: block;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);

}
#chart3{
  position: fixed;
  right: 250px;
  float: right;
  width: 300px;
  font-family: Futura;
  font: 19px sans-serif ;
}
#chart1{
  position: fixed;
  left: 250px;
  float: left;
  width: 325px;
  height: 375px;
  font-family: Futura;
  font: 19px sans-serif ;
}