
#main {
    padding: 20px;
}

text.label {
    text-anchor: middle;
    font-size: 11px;
    fill: #555;
    font-family: sans-serif;
}

/* center the svg in the middle */
.chart0G{
  display: block;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);

}
.bar2 {
      fill: red;
    }

.axis text {
    fill: #555;
}

.axis line,
.axis path {
    stroke: #555;
}

text.title {
    text-anchor: middle;
    font-size: 14px;
    fill: #333;
}
circle {
  opacity: .6;
  fill: lightblue;
  stroke: blue;
}