#main {
    padding: 20px;
}



text.label {
    text-anchor: top;
    font-size: 11px;
    fill: #555;
}

.bar2 {
      fill: red;
    }

.axis text {
    fill: #555;
}

.axis line,
.axis path {
    stroke: #555;
}

text.title {
    text-anchor: top;
    font-size: 40px;
    fill: #333;
}
circle {
  fill: lightgrey;
}

.selected {
	fill:red;
}

.hovered {
    opacity: 0.4
}

div.tooltip {
  color: black;
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 5px;
  font-family: Futura;
  font: 12px sans-serif ;
  background: rgb(233, 151, 164);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
/* center the svg in the middle */
.chart0G{
  display: block;
  position: relative;
  z-index: 200;

  /* margin: 0 auto;
  position: relative;
  top: calc(50% - 24px);
  left: calc(50% - 24px); */
}
#outer{
  width: 1400px;
  height: 1000px;
}
#wrapper{
  font-family: Garamond;
  /* text-align: center; */
  display: inline-block;
}

#chart0{
  position: relative;
  top:400px;
  width: 1300px;
  height: 600px;
}

#chart3{
  font-family: Garamond;

  position: relative;
  float: left;
  line-height:25px;
  width: 500px;
  height: 300px;
}


#chart1{
  font-family: Garamond;

  position: relative;
  float: left;
  width: 400px;
  height: 400px;
  margin: 0px;
}

#chart2{
  font-family: Garamond;

  position: relative;
  float: left;
  width: 400px;
  height: 400px;
}

#heading {
    font-family: Garamond;
    text-align: left;
    margin-left: 450px;
    /* display: inline-block; */
}
